<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <section class="contact">
                    <h2 class="cust-h2">Contact</h2>
                    <a class="p-font a-black mb-5" title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
                </section>
            </div>
            <div class="col-md-6">
                <section class="follow">
                    <h2 class="cust-h2">My LinkedIn</h2>
                    <a class="p-font a-black mb-5" title="LinkedIn" href="{{ site.linkedin }}" target="_blank">LinkedIn</a>
                </section>
            </div>
        </div>
    </div>
</footer>
