<header>
    <div class="container-fluid mt-5">
        <div class="row no-gutters">
            <div class="col-md-3 col-no-gutters">
                <div class="card-container">
                    <div class="card" style="background-image: url('images/home/image1.jpg');">
                        <div class="overlay">
                            <p>Landscape Architecture & Residential Design & Monitoring & Rendering & Modelling</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-no-gutters">
                <div class="card-container">
                    <div class="card" style="background-image: url('images/home/image2.jpg');">
                        <div class="overlay">
                            <p class="cust-p">Wilson Park Street Front Upgrade, Auckland CBD</p>
                        </div>
                        <div class="card-title" style="color: black;">Street Front Upgrade</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-no-gutters">
                <div class="card-container">
                    <div class="card" style="background-image: url('images/home/image3.jpg');">
                        <div class="overlay">
                            <p class="cust-p">Kawau Island, Auckland</p>
                        </div>
                        <div class="card-title">Landscape Section</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-no-gutters">
                <div class="card-container">
                    <div class="card" style="background-image: url('images/home/image4.jpg');">
                        <div class="overlay">
                            <p class="cust-p">Residential Landscape Design</p>
                        </div>
                        <div class="card-title" style="color: black;">Landscape Design</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Repeat for more cards -->
        <div class="row no-gutters">
            <div class="col-md-3 col-no-gutters">
                <div class="card-container">
                    <div class="card" style="background-image: url('images/home/image5.jpg');">
                        <div class="overlay">
                            <p class="cust-p">Residential Modelling & Rendering</p>
                        </div>
                        <div class="card-title">Modelling & Rendering</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-no-gutters">
                <div class="card-container">
                    <div class="card" style="background-image: url('images/home/image6.jpg');">
                        <div class="overlay">
                            <p class="cust-p">School Project - Duder Regional Park, Auckland</p>
                        </div>
                        <div class="card-title">Rest Stop - Hiking Trail</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-no-gutters">
                <div class="card-container">
                    <div class="card" style="background-image: url('images/home/image7.jpg');">
                        <div class="overlay">
                            <p>Develop Web Application</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-no-gutters">
                <div class="card-container">
                    <div class="card" style="background-image: url('images/home/image8.jpg');">
                        <div class="overlay">
                            <p class="cust-p">School Project - Develop a Web Application - Swimming Club</p>
                        </div>
                        <div class="card-title" style="color: black;">Web Application</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Repeat for more cards -->
        <div class="row no-gutters">
            <div class="col-md-3 col-no-gutters">
                <div class="card-container">
                    <div class="card" style="background-image: url('images/home/image9.jpg');">
                        <div class="overlay">
                            <p class="cust-p">School Project - Develop a Web Application - Motel</p>
                        </div>
                        <div class="card-title" style="color: black;">Web Application</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-no-gutters">
                <div class="card-container">
                    <div class="card" style="background-image: url('images/home/image10.jpg');">
                        <div class="overlay">
                            <p>Graphic Design</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-no-gutters">
                <div class="card-container">
                    <div class="card" style="background-image: url('images/home/image11.jpg');">
                        <div class="overlay">
                            <p class="cust-p">Logo Design</p>
                        </div>
                        <div class="card-title" style="color: black;">Logo - TOPLAND LTD NEWZEALAND</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-no-gutters">
                <div class="card-container">
                    <div class="card" style="background-image: url('images/home/image12.jpg');">
                        <div class="overlay">
                            <p class="cust-p">Logo Design</p>
                        </div>
                        <div class="card-title" style="color: black;">Trademark</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>