<!-- Navigation -->
<nav class="navbar navbar-fixed-top bg-dark" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            </button>
            <a class="navbar-brand page-scroll" href="/">
                <span class="light">MY PROFOLIO.</span>
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item me-2">
                        <a href="#about">About</a>
                    </li>
                    <li class="nav-item me-2">
                        <a href="#download">Download</a>
                    </li>
                    <li class="nav-item me-2">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>