<!-- _includes/nav.html -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #222;" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <span class="light">PORTFOLIO.</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto ml-auto">
                <li class="nav-item me-2">
                    <a class="nav-link" href="{{ site.baseurl | append: "/la" }}">Landscape Architecture</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" href="{{ site.baseurl  | append: "/it" }}">Web Application</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" href="{{ site.baseurl  | append: "/graphicdesign" }}">Graphic Design</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" href="{{ site.baseurl  | append: "/more" }}">Explore More</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" href="{{ site.baseurl  | append: "/about" }}">About Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
