<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    {% include header.html %}
    <main>
        <div class="container-fluid" style="background-image: url('images/image13.jpg'); padding: 200px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-align-justify">
                        <h2 class="mb-3" style="color:black">About The Web</h2>
                        <p class="cust-p" style="color: black;">
                            Hi and welcome to my little corner of the internet ^^.. Get comfy, 
                            because I'll be regularly updating and sharing my projects and adventures.<br><br>
                            Here, I document my journey in Landscape Architecture, Graphic Design, IT projects, and whatever else tickles my fancy ^^.
                            I'm a creative soul who loves keeping my brain buzzing with new ideas. 
                            I enjoy human-centered design, respecting the relationships between humans, nature, and spaces.<br><br>
                            Stay tuned, and let's enjoy this wild ride together ^^
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="background-color: #8e9a76;">
            <div class="row d-home">
                <div class="col-md-8" style="padding: 0; margin: 0;">
                    <img src="images/image14.jpg" class="img">
                </div>
                <div class="col-md-4">
                    <h2 class="heading d-flex-align-center" style="color:black">Landscape Architecture</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="background-color: #4f8b8c;">
            <div class="row d-home">
                <div class="col-md-4">
                    <h2 class="heading d-flex-align-center" style="color:black">Web Application</h2>
                </div>
                <div class="col-md-8" style="padding: 0; margin: 0;">
                    <img src="images/image15.jpg" class="img">
                </div>
            </div>
        </div>
        <div class="container-fluid" style="background-color: #ea8f7a;">
            <div class="row d-home">
                <div class="col-md-8" style="padding: 0; margin: 0;">
                    <img src="images/image16.jpg" class="img">
                </div>
                <div class="col-md-4">
                    <h2 class="heading d-flex-align-center" style="color:black">Graphic Design</h2>
                </div>
            </div>
        </div>
    </main>
    {% include footer.html %}
    <script src="{{ "/js/jquery-3.3.1.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/popper.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
</body>
</html>
