<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    {% include nav_sep.html %}
    <div class="content-wrapper">
        <header>
        </header>
        <main class="content">
            <div class="container">
                <div class="row">
                    {% assign landscape_projects = site.categories.landscape | sort: 'date' %}
                    {% for item in site.categories.landscape %}
                    <div class="col-md-4 mb-4">
                        <div class="card-container">
                            <div class="card new-card">
                                <a href="{{ item.url | prepend: site.baseurl }}">
                                    <div class="img-wrapper">
                                        <img src="{{ item.project.cover | prepend: site.baseurl }}" alt="{{ item.project.title }}" class="card-img-top">
                                        <div class="overlay">View Project</div>
                                    </div>
                                    <div class="card-body">
                                        <h2 class="cust-h2 card new-title">{{ item.project.title }}</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>               
    </div>
    {% include footer.html %}
    {% include js.html %}
</body>

</html>