<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <style>
        .post-container {
            padding-top: 100px;
        }

        .project-images {
            padding: 0;
        }

        .project-images img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    </style>
</head>

<body>
    {% include nav.html %}
    <header>
    </header>
    <main class="container-fluid">
        <div class="post-container" style="color: black;">
            <div class="row">
                <aside class="col-md-8 project-images">
                    {% for image in page.images %}
                    <img src="{{ image.url | prepend: site.baseurl }}" alt="{{ image.alt }}" />
                    {% endfor %}
                </aside>
                <article class="col-md-4 project-content">
                    <h2>
                        {{ page.project.title }}
                    </h2>
                    <div class="sub-title mb-3 mt-3">Project Information</div>
                    {{ page.content }}
                    <div class="project-meta">
                        <div class="sub-title mb-3 mt-3">Program Used</div>
                        <p>{{ page.project.program }}</p>
                        <div class="sub-title mb-3">Location</div>
                        <p>{{ page.project.loca }}</p>
                        <div class="sub-title mb-3">Year</div>
                        <p>{{ page.project.year }}</p>
                    </div>
                </article>
            </div>
            <div class="project-navigation">
                <div class="container">
                    <div class="row">
                        {% assign current_category = page.category %}
                        {% assign sorted_posts = site.categories[current_category] | reverse %}
                        {% assign post_count = sorted_posts | size %}
                        {% assign current_index = nil %}
            
                        {% for post in sorted_posts %}
                        {% if post.url == page.url %}
                        {% assign current_index = forloop.index0 %}
                        {% endif %}
                        {% endfor %}
            
                        {% if current_index != nil %}
                        {% assign previous_index = current_index | plus: 1 %}
                        {% assign next_index = current_index | minus: 1 %}
            
                        {% if previous_index < post_count %}
                        {% assign previous_post = sorted_posts[previous_index] %}
                        <div class="col-md-6 text-left">
                            <a title="Previous {{ previous_post.project.title }}" href="{{ previous_post.url | prepend: site.baseurl }}" class="prev">
                                <span class="cust-h2">Previous</span>
                                <div class="sub-title">{{ previous_post.project.title }}</div>
                            </a>
                        </div>
                        {% endif %}
            
                        {% if next_index >= 0 %}
                        {% assign next_post = sorted_posts[next_index] %}
                        <div class="col-md-6 text-right">
                            <a title="Next {{ next_post.project.title }}" href="{{ next_post.url | prepend: site.baseurl }}" class="next">
                                <span class="cust-h2">Next</span>
                                <div class="sub-title">{{ next_post.project.title }}</div>
                            </a>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>            
    </main>
    {% include footer.html %}
    {% include js.html %}
</body>

</html>